# 依赖包
node_modules/

# 打包输出
# dist/
build/

# 个人配置
.vscode/
.idea/

# 日志
npm-debug.log*
yarn-error.log*

# 系统文件
.DS_Store
# Thumbs.db

# 其他临时或自动生成文件夹
# assets/
# locales/
# jianyin/
# public/
# test.html
# package-lock.json